body {
    background-image: url('Assests/bg.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: scroll; /* Keeps the background fixed during scroll */
}

