body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    background-image: url("D:/Web3gle/WeatherForecast/Assests/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-top: 50px;
}

.search-bar {
    margin-bottom: 20px;
}

.weather-section {
    margin-top: 20px;
}

.weather-card {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

.fiveday{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}