body {
    background-color: #a6afb8;
    background-image: url("D:/Web3gle/WeatherForecast/Assests/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.name{
    font-size: large;
}
#toggleButton {
    border-radius: 10px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.container {
    margin-top: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.temp{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.weather-card {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: #a19696a6;
}
.weather{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: #a19696a6;
}

.weather-icon {
    width: 75px;
    height: 75px;
}

.fiveday{
    display: flex;
    flex-direction: row;
    position: fixed;
    overflow-y: hidden;
    margin-left: 140px;
}

@media  only screen and  (max-width:730px) {
    .fiveday{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
}